
@{
    Layout = "~/Views/Shared/_LayoutAngularJsEng.cshtml";
}

<article id="post-150" class="post-150 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
        <div class="entry-meta">
            <a title="3:30 pm" rel="bookmark"><time class="entry-date" datetime="2017-01-23T15:30:03+00:00">January 23, 2017</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="" title="View all posts by carbajalsalinas" rel="author">carbajalsalinas</a></span></span>
        </div><!-- .entry-meta -->
        <h1 class="page-title">Angular 2: What’s Working, What Needs Work and Where It’s&nbsp;Heading</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>Angular 2, the full-platform successor to Google’s Angular 1 Web application framework first announced in October 2014, was released in September 2016 as the complete, final version of the framework. Based on newer JavaScript standards and a new architecture, Angular 2 was created to provide developers with a better framework for building complex applications for both Web and mobile platforms.&nbsp;<img class=" alignright" src="https://carbajalsalinas.files.wordpress.com/2017/01/best-3-ways-to-learn-angularjs-from-home.png?w=423&amp;h=247" alt="best-3-ways-to-learn-angularjs-from-home"></p>
        <p>While the second edition of Angular is still in its infancy, it’s already proving to be leaps ahead of its predecessor. In looking at how Angular 2 is positioned to shape the future of Web development, we examine what is working so far, what elements of the framework are still lacking, how it measures up to other frameworks and its outlook and implications for developers.</p>
        <p><strong>What’s Working</strong></p>
        <p>Angular 2’s framework consolidates development processes, which is supremely <img class=" alignleft" src="https://carbajalsalinas.files.wordpress.com/2017/01/rq2t5fm.png?w=384&amp;h=216" alt="rQ2T5fM.png">beneficial, as frameworks can evolve rapidly (JavaScript especially) and can be overwhelming to companies with long lead app development cycles that take years to complete. Angular 2 gives a much-needed, reliable framework that developers can use for the different applications they’re building. This framework enables developers to learn – and teach – one framework for the Web, rather than requiring a full team with a wide range of different coding skillsets.</p>
        <p>
            <strong>
                Angular 2’s Outlook<br>
            </strong>
        </p>
        <p>While Angular 1’s primary purpose was to provide a framework for building Web apps, Angular 2 will allow developers to further expand their endeavors and build on top of them. The release of Angular 2 brought a faster, more powerful and more consistent framework to developers around the world, and freed developers to build apps not only inside the browser but in other ecosystems.</p>
        <p>Young as it is, Angular 2 was made to be tool-able, which will help to streamline and improve Web application development. Web developers must assemble an intimidating set of libraries and frameworks to ship<img class=" alignright" src="https://carbajalsalinas.files.wordpress.com/2017/01/angularjs-bootstrapping.png?w=700" alt="AngularJS Bootstrapping.png"> a modern application – Angular 2 has a framework that provides much of the functionality out of the box. As more vendors provide support for it, the Angular 2 framework will become better still.</p>
        <p>For now, Angular 2 works best in non-trivial applications (those have 10 or more views) and those that utilize a significant amount of data. Yes, Angular may be used to build nearly anything – but the framework’s inherent complexity is overkill for the simpler apps that need a single platform to run. While other frameworks might see increased adoption among smaller companies and startups, we’ll probably see massive growth among enterprise adoption of Angular 2. Angular 1 is already popular at these large companies, and their developers are ready for an upgrade.</p>
    </div><!-- .entry-content -->

</article>
