@{
    Layout = "~/Views/Shared/_LayoutAngularEng.cshtml";
} 

<article id="post-50" class="post-50 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
        <div class="entry-meta">
            <a title="3:30 pm" rel="bookmark"><time class="entry-date" datetime="2017-01-23T15:30:03+00:00">January 23, 2017</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="" title="View all posts by carbajalsalinas" rel="author">carbajalsalinas</a></span></span>
        </div><!-- .entry-meta -->
        <h1 class="page-title">AngularJS: </h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p><strong>¿What is it?</strong></p>
        <p>It is an open source project that contains a set of useful libraries for the development of web applications and proposes a series of design patterns to carry them out. In short, it is what is known as a framework for development, in this case on the JavaScript language with client-side programming. This MVC JavaScript frame<img class=" alignright" src="https://i0.wp.com/atraura.com/wp-content/uploads/2016/04/angularjs.png" alt="Resultado de imagen para angularjs objetivos" width="437" height="246">work is used for the development of Web Front End that allows to create SPA applications (Single Page Applications).</p>
        <p>
            AngularJS is born around the belief that declarative programming<br>
            is the one that should be used for general user interfaces and linking software components, while imperative programming is excellent for expressing business logic.
        </p>
        <p><strong>What are your goals?</strong></p>
        <ul>
            <li>Dislocate DOM manipulation of application logic. This improves the ability to test the code.</li>
            <li>Consider application testing as equal in importance to writing the application. The difficulty of the tests is drastically reduced by the way the code is structured.</li>
            <li>Disassociate the client side of a server-side application. This allows development work to proceed in parallel, and allows reuse of both sides.</li>
            <li>Guide developers through the entire process of developing an application: from designing the user interface, through business logic writing, to testing.</li>
        </ul>
        <p>But it is not only useful for the realization of SPA, it can also be used to build a variety of applications, taking advantage of tools such as templating, two-way data binding, pluralization, modules, dependency injection, etc. AngularJs attacks the underlying root proble<img class=" alignleft" src="https://www.ondho.com/wp-content/uploads/2015/03/angular.jpg" alt="Resultado de imagen para angularjs objetivos" width="411" height="278">m whereby html is not designed with dynamic views in mind. A clear example could be the forms, allowing to validate their fields without having to reload the page, as would typically be done in server-side language. It is also thought of extensibility, thanks to the possibility of creating your own custom web components (through directives), favoring its reuse and achieving a great integration with html5.</p>
        <p>&nbsp;</p>
        <p>It could offer any kind of functionality, like loading information regarding “myVar1” remotely and displaying it in a certain format. Another possible reason might be the almost mandatory use of certain best practices. In general, the team of AngularJs has worked hard to force us to adopt certain design patterns, such as the injection of dependencies, reuse of functionalities (modules), etc., away from the spaghetti code as much as possible.</p>

    </div><!-- .entry-content -->

</article>