@{
    Layout = "~/Views/Shared/_LayoutVisaTNEng.cshtml";
} 

<article id="post-50" class="post-50 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
        <div class="entry-meta">
            <a title="3:30 pm" rel="bookmark"><time class="entry-date" datetime="2017-01-23T15:30:03+00:00">January 23, 2017</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="" title="View all posts by carbajalsalinas" rel="author">carbajalsalinas</a></span></span>
        </div><!-- .entry-meta -->
        <h1 class="page-title">What's the TN Visa?</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>The TN (Trade NAFTA) visa is a special “non-migrant” visa (residence while the visa does not expire) issued in the United States for Mexican citizens and Canadians.</p>
        <p>This type of visa is born under the Free Trade Agreement (FTA) and this allows Mexican citizens and Canadians the opportunity to work in the United States, under a limited set of occupations, this type of visas is very similar to visas H1B but with unique characteristics <img class=" alignright" src="https://carbajalsalinas.files.wordpress.com/2017/01/3fa67-1418881779345.jpg?w=289&amp;h=217" alt="Image result for VISA TN" width="337" height="253">.</p>
        <p>As we know with the arrival to the presidency of Donald Trump this type of visas like the H1B are threatened to disappear, since the main proposals of the now president of the United States is the construction of a border wall, which would be financed by The government of Mexico, and an immigration policy that will make undocumented migrants more complicated and also those who have all their papers.</p>
        <p>The following are some of the proposals that most concern the Latino population living in the United States:</p>
        <p>1- Border wall: it is one of the proposals that made the most during his campaign, which in my view is irrational because the magnate hopes that this wall is financed by the Mexican government.</p>
        <p>2 – Block Remittances: In April, Trump announced a proposal for Mexico to pay for the wall: to modify a rule under the anti-terrorism law to cut money shipments to Mexico until payment is made.</p>
        <p>According to the campaign, Mexico would lose more than 25,000 million dollars (mdd) in blocking remittances.</p>
        <p>The most serious of this proposal, according to President Barack Obama, are the “consequences for the Mexican economy”, which in turn could generate new waves of Mexican migrants trying to enter the United States in the face of the difficult economic situation in his country.</p>
        <p>3- Deporting 11 million undocumented: Trump’s plan to deport more than 11 million undocumented immigrants would shrink the US population by 3 percent.</p>
        <p>Mexicans represent almost half of that figure. By 2014, there were 5.6 million unauthorized Mexican immigrants living in the United States, according to data from the Pew Research Center.</p>
        <p><img src="https://i2.wp.com/ichef.bbci.co.uk/news/660/cpsprodpb/3A54/production/_92423941_c8af3686-2524-4e60-9371-0bb11ed5d162.jpg" alt="Donald Trump."></p>
        <p>These were some of the proposals made by the now President of the United States, which are the most alarming because of their irrationality, but which, if carried out, represent an unfavorable scenario for the Mexican government as well as undocumented migrants.</p>

    </div><!-- .entry-content -->

</article>