@{
    Layout = "~/Views/Shared/_LayoutVisaH1BEng.cshtml";
} 

<article id="post-50" class="post-50 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
        <div class="entry-meta">
            <a title="3:30 pm" rel="bookmark"><time class="entry-date" datetime="2017-01-23T15:30:03+00:00">January 23, 2017</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="" title="View all posts by carbajalsalinas" rel="author">carbajalsalinas</a></span></span>
        </div><!-- .entry-meta -->
        <h1 class="page-title">H1B & Donald Trump: </h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>As we know since Donald Trump announced his candidacy for the presidency of the United States has caused great indignation in the Latino population, that the now president has made proposals that besides racists, are irrational.</p>
        <p>To explain the topic better we start talking about what the H1B Visas are. The H1B visa is a temporary visa for professionals who come to work in the United States. in general. The visa lasts for 3 years and can be renewed for 3 more years.</p>
        <p><img class=" alignright" src="https://cnnespanol2.files.wordpress.com/2015/08/donald-trump-debate.jpg?quality=90&amp;strip=all" alt="Image result for QUE PASARA CON LA VISA H1B CON LA LLEGADA DE DONALD TRUMP" width="460" height="259">This type of visa is considered fundamental by technology companies that want to fill their ranks with specialized developers and engineers.</p>
        <p>This is a temporary residence permit, but companies may choose to sponsor employees to stay in the United States indefinitely.</p>
        <p>Now that the tycoon has become president the concern has grown more, since some of the proposals made by the now president range from the construction of a border wall, the deportation of millions of undocumented, to the future of work visas (TN and H1B), which would make the lives of Latinos in the neighboring country more complicated.</p>
        <p>While the future of H1B visas is uncertain, it seems that the now-president american is against the use of such visas, this is what he said in his own words:</p>
        <p><img class=" alignleft" src="https://i2.wp.com/rec-end.gfrcdn.net/images/tn/0/59/2281/1195/900/447/2016/11/13/6154f767-1bec-4471-bf39-9fb963c1d274.jpg" alt=" (horizontal-x3)" width="400" height="199">“I know the H1-B very well. I use it and, honestly, I should not be able to do it. ” “We should not have it. It is very very bad for the workers. And secondly, I think it’s very important to say that, well, I’m an entrepreneur and I have to do what I have to do. ” “It’s very bad for business in terms of – and it’s very bad for our workers and it’s unfair to our workers. And we should end it “(CNN, Republican Party Debate, March 2016).</p>
        <p>It makes it appear that the president is not bothered by the idea that highly qualified personnel come to the United States to study in better schools, even though they will most likely modify or eliminate the H1B visa.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div><!-- .entry-content -->

</article>