@{
    Layout = "~/Views/Shared/_LayoutVisaTN.cshtml";
} 

<article id="post-50" class="post-50 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
        <div class="entry-meta">
            <a title="3:30 pm" rel="bookmark"><time class="entry-date" datetime="2017-01-23T15:30:03+00:00">January 23, 2017</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="" title="View all posts by carbajalsalinas" rel="author">carbajalsalinas</a></span></span>
        </div><!-- .entry-meta -->
        <h1 class="page-title">Que es la VISA TN?</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>La visa TN (Trade&nbsp;NAFTA por sus siglas en inglés) es una visa especial “no migrante” (de residencia mientas la visa no expire) expedida en los Estados Unid<img class=" alignright" src="https://carbajalsalinas.files.wordpress.com/2017/01/3fa67-1418881779345.jpg?w=289&amp;h=217" alt="Image result for VISA TN" width="289" height="217">os para ciudadanos mexicanos y canadiences.</p>
        <p>Este tipo de visas nace en virtud del TLC (Tradato de Libre Comercio) y esta permite a los ciudadanos mexicanos y canadiences la oportunidad de trabajar en los Estados Unidos, bajo un conjunto limitado de ocupaciones, esta tipo de visas es muy similar a las visas H1B pero con caracteristicas unicas.</p>
        <p>Como sabemos con la llegada a la precidencia de Donald Trump este tipo de visas al igual que las H1B estan amenazadas con desaparecer, ya que las principales propuestas del ahora presidente de los Estados Unidos es la construccion de un muro fronterizo, el cual estaria financiado por el gobierno de México, y una politica migratoria la cual hará más complicada a los migrantes indocumentados y tambien para los que cuentan con todos sus papeles.</p>
        <p>A continuación se detallaran algunas de las propuestas que más preocupan a la poblacion latina que vive en los Estados Unidos:</p>
        <p><strong>1- Muro Fronterizo</strong>: es una de las propuestas de las que más hizo alarde durante su campaña, la cual a mi punto de vista es irracional ya que el magnate espera que este muro este financiado por el gobierno de México.</p>
        <p><strong>2- Bloquear remesas:</strong>&nbsp;En abril, Trump dio a conocer una propuesta para que México pague por el muro: modificar una norma dentro de la ley antiterrorismo para cortar los envios de dinero a México hasta que se realice el pago.</p>
        <p>De acuerdo con la campaña, México perdería más de 25,000 millones de dólares (mdd) por el bloqueo de remesas.</p>
        <p>Lo más grave de esta propuesta, de acuerdo con el presidente Barack Obama, son las “consecuencias para la economía de México”, que a su vez podrían generar nuevas olas de migrantes mexicanos que tratan de entrar en Estados Unidos ante la difícil situación económica en su país.</p>
        <p><strong>3- Deportar a &nbsp;11 millones de indocumentados:</strong> El plan de Trump de deportar a más de 11 millones de inmigrantes indocumentados encogería la población estadounidense en un 3%.</p>
        <p>Los mexicanos representan casi la mitad de esa cifra. En 2014, había 5.6 millones de inmigrantes mexicanos no autorizados viviendo en Estados Unidos, de acuerdo con datos del Centro de Investigación Pew.</p>
        <p><img src="https://i2.wp.com/ichef.bbci.co.uk/news/660/cpsprodpb/3A54/production/_92423941_c8af3686-2524-4e60-9371-0bb11ed5d162.jpg" alt="Donald Trump."></p>
        <p>Estas fueron algunas de las propuestas realizadas por el ahora Presidente de los Estados Unidos, las cuales son de las más alarmantes por su irracionalidad, pero que de llevarse a cabo representan un panorama desfavorable para el gobierno de México como para los migrantes indocumentados.</p>
    </div><!-- .entry-content -->

</article>