@{
    Layout = "~/Views/Shared/_LayoutVisaH1B.cshtml";
} 

<article id="post-50" class="post-50 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
        <div class="entry-meta">
            <a title="3:30 pm" rel="bookmark"><time class="entry-date" datetime="2017-01-23T15:30:03+00:00">January 23, 2017</time></a><span class="byline"> by <span class="author vcard"><a class="url fn n" href="" title="View all posts by carbajalsalinas" rel="author">carbajalsalinas</a></span></span>
        </div><!-- .entry-meta -->
        <h1 class="page-title">H1B & Donald Trump: </h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>Como sabemos desde que Donald Trump anuncio su candidatura a la presidencia de los Estados Unidos ha causado gran indignación en la población latina, ya que el ahora ha hecho propuestas que además de racistas, son irracionales.<img class=" alignright" src="https://cnnespanol2.files.wordpress.com/2015/08/donald-trump-debate.jpg?quality=90&amp;strip=all" alt="Image result for QUE PASARA CON LA VISA H1B CON LA LLEGADA DE DONALD TRUMP" width="415" height="234"></p>
        <p>Para explicar mejor el tema comencemos hablando de que son las Visas H1B.</p>
        <p>
            La visa H1B es una visa temporal para profesionales que vienen a trabajar a los Estados Unidos. en general. La visa tiene una duración de 3 años y se puede renovar por 3 años más<br>
            .
        </p>
        <p>Este tipo de visado es considerado fundamental por las compañías tecnológicas que quieren llenar sus filas con desarrolladores e ingenieros especializados.</p>
        <p>Se trata de un permiso de residencia temporal, pero las empresas pueden optar por patrocinar a los empleados para que se queden en Estados Unidos. de forma in<strong>definida.</strong></p>
        <p>Ahora que el magnate se ha convertido en presidente la preocupación ha crecido más, ya que algunas de las propuestas hechas por el ahora presidente van desde la construcción de un muro fronterizo, la deportación de millones de indocumentados, hasta el futuro de las visas de trabajo&nbsp;(TN y H1B), lo cual haría más complicada la vida de los latinos en el vecino país.</p>
        <p>Si bien el futuro de las visas H1B es incierto, parece que el ahora presidente estadounidence esta en contra dela utilización de este tipo de visas,&nbsp;esto fue lo que dijo en sus propias palabras:</p>
        <p><em>“Conozco la H1-B muy bien. Yo la utilizo y, sinceramente, no debería poder hacerlo”. “No d<img class=" alignleft" src="https://i2.wp.com/rec-end.gfrcdn.net/images/tn/0/59/2281/1195/900/447/2016/11/13/6154f767-1bec-4471-bf39-9fb963c1d274.jpg" alt=" (horizontal-x3)" width="386" height="192">eberíamos tenerla. Es muy muy mala para los trabajadores. Y, en segundo lugar, creo que es muy importante decir que, bueno, soy un empresario y tengo que hacer lo que tengo que hacer”. “Es muy mala para los negocios en términos de -y es muy mala para nuestros trabajadores y es injusta para nuestros trabajadores. Y deberíamos acabar con ella” (CNN, Debate del partido republicano, marzo de 2016).</em></p>
        <p>Lo hace parecer que al presidente no le molesta la idea de que personal altamente calificado llegue a los Estados Unidos para estudiar en mejores escuelas, aun que lo más probable es que modifique o elimine la visa H1B.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div><!-- .entry-content -->

</article>