<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" ng-app="CarbajalSalinasPosts">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4721932528500838",
    enable_page_level_ads: true
    });
    </script>
    <script> window.prerenderReady = false; </script>
    <meta name="google-site-verification" content="PTabDQ2--OVMwEoZZN_KJdNBxvU-zGBL7vHkbtgQGCA" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!"> 
    <meta name="type" content="website" />
    <meta name="type" content="website">
    <title>H1B & Donald Trump - CarbajalSalinas.com</title>
    <meta name="description" content="As we know since Donald Trump announced his candidacy for the presidency of the United States has caused great indignation in the Latino population...">
    <meta property="og:site_name" content="CarbajalSalinas.com">
    <meta property="fb:app_id" content="791076447598080">
    <!-- Arbitrary tags -->
    <meta property="og:url" content="http://www.carbajalsalinas.com/Post/VisaH1BEng">
    <meta property="og:title" content="H1B & Donald Trump">
    <meta property="og:image" content="http://carbajalsalinas.com/Content/PostImages/trump2.jpg">
    <meta property="og:image:height" content="300">
    <meta property="og:image:width" content="300">
    <meta property="og:description" content="As we know since Donald Trump announced his candidacy for the presidency of the United States has caused great indignation in the Latino population...">

    <link rel="shortcut icon" href="~/Content/favicon.ico">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/lib/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/lib/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/Calypso/style.css" rel="stylesheet">
    <link href="~/Content/Calypso/responsive.css" rel="stylesheet">
    <link href="~/Content/Calypso/layout-semiboxed.css" rel="stylesheet">
    <link href="~/Content/Calypso/skin-red.css" rel="stylesheet">
    <link id="main-color" href="~/Content/Calypso/skin-red.css" rel="stylesheet"  media="screen" />
    <link href="~/Content/wordpress.css" rel="stylesheet" />
    <script src="~/Content/Calypso/jquery.js"></script>
    <script src="~/Scripts/lib/jquery-ui.min.js"></script>
    <script src="~/Scripts/lib/angular.min.js"></script>
    <script src="~/Scripts/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/lib/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/lib/angular-touch.min.js"></script>
    <script src="~/Scripts/BulkScripts.js"></script>
    <script type="text/javascript">
        try {
            var rootDir = "@Url.Content("~/")";
            rootDir = rootDir.replace(/\//g, "");
        }
        catch(e){
        }
    </script>
</head>
    
<body>
    <!-- /.wrapbox start-->
    <div ng-controller="CarbajalSalinasPostsController as carbCtrl" ng-jq>
        <div class="wrapbox">
            <!-- TOP AREA
            ================================================== -->
            <section class="toparea">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-text pull-left animated fadeInLeft">
                            <i class="icon-phone"></i>{{carbCtrl.phone}}<span class="separator"></span><i class="icon-envelope"></i>{{carbCtrl.email}}<a ng-click="carbCtrl.sendEmail($event)">{{carbCtrl.emailId}}</a>
                        </div>
                        <div class="col-md-4 text-right animated fadeInRight">
                            <div class="social-icons">
                                <a class="icon icon-facebook" target="_blank" href="https://www.facebook.com/carbajalsalinasinc/"></a>
                                <a class="icon icon-twitter" target="_blank" href="https://twitter.com/CarbajalSalinas"></a>
                                <a class="icon icon-linkedin" target="_blank" href="https://www.linkedin.com/in/josecarbajal"></a>
                                <a class="icon icon-youtube" target="_blank" href="https://www.youtube.com/channel/UCIbizkIuDuoEwYg61-RNUow"></a>
                                <a class="icon icon-google-plus" target="_blank" href="https://plus.google.com/116342826277857091177/posts"></a>
                            </div>
                        </div>
                        <div class="col-md-2 text-right animated fadeInRight">
                            <a class="English languageSelected" href="#">English</a><span class="separator"></span><a class="Spanish" href="@Url.Action("VisaH1B", "Post")">Spanish</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.toparea end-->
            <!-- NAV
            ================================================== -->
            <nav class="navbar navbar-fixed-top wowmenu" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand logo-nav" href="http://www.carbajalsalinas.com/" id="logo"><img src="~/Content/Calypso/logo.png" alt="logo"></a>
                    </div>
                    <ul class="nav nav-tabs pull-right">
                        <li href="http://www.carbajalsalinas.com/" id="home"><a href="http://www.carbajalsalinas.com/">{{carbCtrl.homeMenu}}</a></li>
                        <li href="http://www.carbajalsalinas.com/PostSummary" id="postSummary"><a href="http://www.carbajalsalinas.com/PostSummary">{{carbCtrl.postsMenu}}</a></li>
                        <li href="http://www.carbajalsalinas.com/Contact" id="contact"><a id="contact" href="http://www.carbajalsalinas.com/Contact">{{carbCtrl.contactMenu}}</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /nav end-->
            <div id="contentChanging">
                <!-- CAROUSEL
                ================================================== -->
                <section class="carousel carousel-fade slide home-slider" id="c-slide" data-ride="carousel" data-interval="4500" data-pause="false">
                    <ol class="carousel-indicators">
                        <li data-target="#c-slide" data-slide-to="0" class="active"></li>
                        <li data-target="#c-slide" data-slide-to="1" class=""></li>
                        <li data-target="#c-slide" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active bgImage">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 fadein scaleInv anim_1">
                                        <div class="fadein scaleInv anim_2">
                                            <h1 class="carouselText1 animated fadeInUpBig">{{carbCtrl.headerTitle1}}<span class="colortext">{{carbCtrl.domainName}}</span></h1>
                                        </div>
                                        <div class="fadein scaleInv anim_1">
                                            <p class="carouselText2 animated fadeInLeft">
                                                {{carbCtrl.description1}}
                                            </p>
                                        </div>
                                        <div class="fadein scaleInv anim_2">
                                            <p class="carouselText3">
                                                <i class="icon-ok"></i> {{carbCtrl.description2}}
                                            </p>
                                        </div>
                                        <div class="fadein scaleInv anim_3">
                                            <p class="carouselText3">
                                                <i class="icon-ok"></i> {{carbCtrl.description3}}
                                            </p>
                                        </div>
                                        <div class="fadein scaleInv anim_4">
                                            <p class="carouselText3">
                                                <i class="icon-ok"></i> {{carbCtrl.description4}}
                                            </p>
                                        </div>
                                        <div class="fadein scaleInv anim_5">
                                            <p class="carouselText3">
                                                <i class="icon-ok"></i> {{carbCtrl.description5}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center fadein scaleInv anim_2">
                                        <div class="text-center">
                                            <div class="fadein scaleInv anim_3">
                                                <img src="~/Content/Calypso/slide1-3.png" alt="desktop" class="slide1-3 animated rollIn">
                                            </div>
                                            <div class="fadein scaleInv anim_8">
                                                <img src="~/Content/Calypso/slide1-1.png" alt="tablet" class="slide1-1 animated rollIn">
                                            </div>
                                            <div class="fadein scaleInv anim_5">
                                                <img src="~/Content/Calypso/slide1-2.png" alt="phone" class="slide1-2 animated rollIn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item slide1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 animated fadeInUp notransition">
                                        <img src="~/Content/Calypso/desktop3.png" alt="desktopComputer" style="width:90%;">
                                    </div>
                                    <div class="col-md-6 animated fadeInDown  notransition topspace30 text-right">
                                        <div class="car-highlight1 animated fadeInLeftBig">
                                            {{carbCtrl.description11}}
                                        </div>
                                        <br>
                                        <div class="car-highlight2 animated fadeInRightBig notransition">
                                            {{carbCtrl.description12}}
                                        </div>
                                        <br>
                                        <div class="car-highlight3 animated fadeInUpBig notransition">
                                            {{carbCtrl.description13}}
                                        </div>
                                        <br>
                                        <div class="car-highlight4 animated flipInX notransition">
                                            {{carbCtrl.description14}}
                                        </div>
                                        <br>
                                        <div class="car-highlight5 animated rollIn notransition">
                                            {{carbCtrl.description15}}  <span class="font100">{{carbCtrl.description16}}</span><br>
                                            <span class="font100" style="font-size:20px;">{{carbCtrl.description17}}</span> {{carbCtrl.description18}}<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item slide3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <br>
                                        <br>
                                        <div class="animated fadeInDownBig notransition">
                                            <span class="car-largetext">{{carbCtrl.description111}}<span class="font300">&amp;</span>{{carbCtrl.description112}} </span><br>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="car-widecircle animated fadeInLeftBig notransition">
                                            <span>{{carbCtrl.description113}}</span>
                                        </div>
                                        <div class="car-middlecircle animated fadeInUpBig notransition">
                                            <span>{{carbCtrl.description114}}</span>
                                        </div>
                                        <div class="car-smallcircle animated fadeInRightBig notransition">
                                            <span>{{carbCtrl.description115}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.carousel-inner -->
                    <a class="left carousel-control animated fadeInLeft" href="#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control animated fadeInRight" href="#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
                </section>
                <section class="pageheader-default text-center ng-hide">
                    <div class="semitransparentbg">
                        <h1 class="animated fadeInLeftBig notransition">{{carbCtrl.subTitle}}</h1>
                        <p class="animated fadeInRightBig notransition container page-description">
                            {{carbCtrl.subTitleDescription1}}<br>
                            {{carbCtrl.subTitleDescription2}}
                        </p>
                    </div>
                </section>
                <!-- /.carousel end-->
                <!-- /.wrapsemibox start-->
                <div class="wrapsemibox">
                            @RenderBody()
                </div>
                <!-- /.wrapsemibox end-->
            </div>
            <!-- BEGIN FOOTER
            ================================================== -->
            <section>
                <div class="footer">
                    <div class="container animated fadeInUpNow notransition">
                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="footerbrand">{{carbCtrl.domainName}}</h1>
                                <p>
                                    {{carbCtrl.footerText1}}
                                </p>
                                <p>
                                    {{carbCtrl.footerText2}}
                                </p>
                                <p>
                                    {{carbCtrl.footerText3}}&nbsp;<i class="icon-windows"></i>&nbsp; {{carbCtrl.footerText4}}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <h1 class="title"><span class="colortext">{{carbCtrl.footerText5}}</span>{{carbCtrl.footerText6}}<span class="font100">{{carbCtrl.footerText4}}</span></h1>
                                <div class="footermap">
                                    <p>
                                        <strong>{{carbCtrl.footerText8}}</strong> {{carbCtrl.footerText9}}
                                    </p>
                                    <p>
                                        <strong>{{carbCtrl.footerText10}}</strong> {{carbCtrl.footerText11}}
                                    </p>
                                    <p>
                                        <strong>{{carbCtrl.footerText12}}</strong> {{carbCtrl.footerText13}}
                                    </p>
                                    <p>
                                        <strong>{{carbCtrl.footerText14}}</strong> {{carbCtrl.footerText15}}
                                    </p>
                                    <ul class="social-icons list-soc">
                                        <li><a target="_blank" href="https://www.facebook.com/carbajalsalinasinc/"><i class="icon-facebook"></i></a></li>
                                        <li><a target="_blank" href="https://twitter.com/CarbajalSalinas"><i class="icon-twitter"></i></a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/josecarbajal"><i class="icon-linkedin"></i></a></li>
                                        <li><a target="_blank" href="https://plus.google.com/116342826277857091177/posts"><i class="icon-google-plus"></i></a></li>
                                        <li><a target="_blank" href="https://www.youtube.com/channel/UCIbizkIuDuoEwYg61-RNUow"><i class="icon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="title"><span class="colortext">{{carbCtrl.footerText16}}</span>{{carbCtrl.footerText17}}<span class="font100">{{carbCtrl.footerText18}}</span></h1>
                                <div id="quotes">
                                    <div class="textItem">
                                        <div class="avatar">
                                            <img src="~/Content/Calypso/avatar.jpg" alt="avatar">
                                        </div>
                                        {{carbCtrl.footerText19}}<span style="font-family:arial;">"</span><br /><b> {{carbCtrl.footerText20}}</b>
                                    </div>
                                    <div class="textItem">
                                        <div class="avatar">
                                            <img src="~/Content/Calypso/avatar.jpg" alt="avatar1">
                                        </div>
                                        {{carbCtrl.footerText21}}<span style="font-family:arial;">"</span><br /><b>{{carbCtrl.footerText22}}</b>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="title"><span class="colortext">{{carbCtrl.footerText23}}</span>{{carbCtrl.footerText24}} <span class="font100">{{carbCtrl.footerText25}}</span></h1>
                                <div class="done">
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        {{carbCtrl.footerText26}}
                                    </div>
                                </div>
                                <form name="contact_form" id="contact_form" ng-model="carbCtrl.contactForm" novalidate="" ng-submit="carbCtrl.submitContact()">
                                    <div class="form">
                                        <input class="col-md-6" type="text" ng-required="true" name="contact_name" id="contact_name" ng-model="carbCtrl.contactForm.contact_name" placeholder="Name">
                                        <input class="col-md-6" type="text" ng-required="true" name="contact_email" id="contact_email" ng-model="carbCtrl.contactForm.contact_email" placeholder="E-mail">
                                        <br /><textarea class="col-md-12" ng-required="true" name="contact_message" rows="7" id="contact_message" ng-model="carbCtrl.contactForm.contact_message" placeholder="Message"></textarea><br />
                                        <input type="submit" id="submit" class="btn" value="Send">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="back-top">
                    <a href="#top"><span></span></a>
                </p>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="pull-left">
                                    &copy; {{carbCtrl.footerText27}}
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ul class="footermenu pull-right">
                                    <li><a href="http://www.carbajalsalinas.com/">{{carbCtrl.homeMenu}}</a></li>
                                    <li><a href="http://www.carbajalsalinas.com/PostSummary">{{carbCtrl.postsMenu}}</a></li>
                                    <li><a href="http://www.carbajalsalinas.com/Contact">{{carbCtrl.contactMenu}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /footer section end-->
            <div class="alert alert-{{carbCtrl.alertType}} alertDisplay" role="alert" ng-show="carbCtrl.displayAlert">
                <button class="close" type="button" ng-click="carbCtrl.displayAlert = false">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                </button>
                <div>
                    <div ng-repeat="message in carbCtrl.messages track by $index">
                        <div><span class="circle">&nbsp;</span>{{message}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.wrapbox ends-->
        <!-- SCRIPTS, placed at the end of the document so the pages load faster
        ================================================== -->
        <script src="~/Content/Calypso/jquery.js"></script>
        <script src="~/Content/Calypso/bootstrap.js"></script>
        <script src="~/Content/Calypso/plugins.js"></script>
        <script src="~/Content/Calypso/common.js"></script>


        <!--BEGIN DEMO PANEL
        ================================================== -->
        <link rel="stylesheet" href="~/Content/Calypso/style-switcher.css" media="screen" />
        <link rel="stylesheet" href="~/Content/Calypso/colorpicker.css" media="screen" />
        <script type="text/javascript" src="~/Content/Calypso/jquery.cookie.js"></script>
        <script type="text/javascript" src="~/Content/Calypso/styleswitch.js"></script>
        <script type="text/javascript" src="~/Content/Calypso/colorpicker.js"></script>

        <div class="demobutton">
            <i class="icon-cogs"></i>
        </div>
        <div id="style-switcher">
            <div id="switcher-header">
                <p>
                    {{carbCtrl.switcher1}}
                </p>
            </div>
            <div id="switcher-body">
                <p>
                    <strong>{{carbCtrl.switcher2}}</strong>
                </p>
                <p>
                    <a href="#" class="color-box" style="width:auto;color:#888;font-weight:700;" data-rel="boxed">{{carbCtrl.switcher3}}</a><br />
                    <a href="#" class="color-box" data-rel="semiboxed" style="width:auto;color:#888;font-weight:700;">{{carbCtrl.switcher4}}</a><br />
                    <a href="#" class="color-box" data-rel="wide" style="width:auto;color:#888;font-weight:700;">{{carbCtrl.switcher5}}</a></br>
                </p>
                <p>
                    <strong>{{carbCtrl.switcher6}}</strong>
                </p>
                <div class="colors-holder">
                    <a href="#" class="color-box" data-rel="2ac4ea"></a>
                    <a href="#" class="color-box" data-rel="be9869"></a>
                    <a href="#" class="color-box" data-rel="7f8c8d"></a>
                    <a href="#" class="color-box" data-rel="1abc9c"></a>
                    <a href="#" class="color-box" data-rel="b4ad7f"></a>
                    <a href="#" class="color-box" data-rel="ff8100"></a>
                    <a href="#" class="color-box" data-rel="f54828"></a>
                    <a href="#" class="color-box" data-rel="00aaaa"></a>
                    <a href="#" class="color-box" data-rel="f0b70c"></a>
                </div>
            </div>
            <div id="switcher-footer">
                <p>
                    <a href="http://www.carbajalsalinas.com" target="_blank"><img src='~/Content/Calypso/logo.png' alt="logo"></a>
                </p>
            </div>
        </div>
        <!--END DEMO PANEL
        ================================================== -->
    </div>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-88232722-1', 'auto');
          ga('send', 'pageview');
    </script>
</body>
</html>
